.a-button {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: 50px;
  min-width: 220px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.a-button--red {
  background: var(--red);
}

.a-button--green {
  background: var(--green);
}

.a-button--pink{
  background: var(--pink);
}

.a-button--black{
  background: var(--black);
}

.a-button--grey{
  background: var(--grey);
}

.a-button--squared{
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
}

.a-button--rounded{
  border-radius: 100px;
}