.a-card {
    border-radius: 5px;
    width: 25rem;
    height: 40rem;
    margin: 10px;
    padding: 0 20px;
}

.image{
    background: #181818;
    border-radius: 5px;
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 20px 10px;
    height: 10vh;
}

.text {
    color: #37474F;
    text-align: left;
    font-family: Roboto sans-serif;
    margin-right: 20px;
}

.rating {
    margin-right: 10px;
}

.favorites_card {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    margin-top: 23px;
}

.favorites_card svg {
    font-size: 25px;
}

.description{
    margin: 10px;
    font-size: 13px;
    color: #37474F;
    text-align: justify;
    font-family: Roboto sans-serif;
}

.a-button {
    width: 100%;
    margin: 0;
}

.buttons-block {
    display: flex;
    flex-direction: row;
}

.buttons-block button:first-child {
    margin-right: 10px;
}

.rating {
    font-size: 20px;
}
