* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.title {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 35px;
}

.text {
    font-size: 26px;
    margin-bottom: 30px;
}

.welcome-text {
    position: absolute;
    text-align-last: center;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    z-index: 100;
    margin-top: 170px;
    top: 27%;
    left: 51%;
    display: block;
    width: 750px;
    height: 417px;
    margin-left: -375px; /* HALF OF THE WIDTH */
}

.a-button {
    height: 36px;
}

.img img {
    height: 100vh;
    object-fit: cover;
}